# --- LangSmith 監控設定 ---
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2--------------
LANGSMITH_PROJECT="Pull-Request-Agent"


# --- Agent Config ---
CONTAINER_NAME=ai-sandbox
MAX_RECURSION=15
MODEL_NAME=qwen2.5-coder:7b
MODEL_HOST=http://localhost:11434
MODEL_TEMERATURE=0

# --- GitHub 帳號與權限設定 ---
# GitHub Personal Access Token (PAT)，授權讀寫, 供AGENT操作
GITHUB_TOKEN=GitHubPersonalAccessTokenHere
GITHUB_EMAIL=agent-bot@domain.com
GITHUB_USERNAME=AI-Sandbox-Agent