# --- LangSmith 監控設定 ---
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2--------------
LANGSMITH_PROJECT="Pull-Request-Agent"


# --- Agent Config ---
CONTAINER_NAME=ai-sandbox
MAX_RECURSION=15
MAX_HISTORY_MESSAGES=4
MODEL_NAME=Qwen2.5-Coder-3B-Instruct
MODEL_HOST=http://localhost:8000/v1
MODEL_TEMPERATURE=0.0

# --- Server Config ---
# vLLM 佔用 8000，FastAPI webhook server 改用 8080
SERVER_PORT=8080

# --- GitHub 帳號與權限設定 ---
# GitHub Personal Access Token (PAT)，授權讀寫, 供AGENT操作
GITHUB_TOKEN=GitHubPersonalAccessTokenHere
GITHUB_EMAIL=agent-bot@domain.com
GITHUB_USERNAME=AI-Sandbox-Agent